 /* General Styles */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
.wrapper {
    display: flex;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; /* Same as sidebar width */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 200px); /* Adjust for sidebar width */
    top: 0;
    left: 200px;
    z-index: 1000;
}

.content-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 80px; /* Account for the fixed navbar */
}
.content-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.settings-item {
    margin-bottom: 20px;
}
.settings-item label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.settings-item input, 
.settings-item select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.settings-item button {
    background-color: #ffd700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.settings-item button:hover {
    background-color: #ffa500;
}